# CRREL-GOSRT Specific
file_pathnames.py
crrelRTM.yml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject
*.pyc

.DS_Store

# Data
/bin/SampleData